<h1>Listing Trips</h1>
<ul class="users">
  <% @trips.each do |trip| %>
    <li>
      <div class="border-form-div">
        <h3><%= trip.source %>-<%= trip.destination %></h3>
        <% if trip.users.include?(current_user) %>
        <br><%= link_to "Unjoin this trip", unjoin_trip_path(trip), class: "btn btn-default" %>
        <% else %>
        <%= link_to 'Show this trip', trip,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: "btn btn-info"}  %>
        <div id="modal-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
        <% end %>
        <% if trip.user == current_user || current_user.try(:admin?) %>
          <br><br><%= link_to 'Edit', edit_trip_path(trip) , class: "btn btn-warning"%>
          <%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger"%>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
<br>
<%= link_to 'New Trip', new_trip_path, class: "btn btn-success", id: "new-trip"%>
