<div class="center jumbotron">
  <h1>Welcome to the Raye7 sample App</h1>

  <h2>
    This is the home page for the ROR challange
  </h2>

  <% if user_signed_in? %>
  <% if current_user.admin? %>
  <%= link_to "Browse Users", users_path,class: "btn btn-lg btn-success"%><br><br>
  <% end %>
  <%= link_to "Browse Trips", trips_path,class: "btn btn-lg btn-info"%><br><br>
  <% else %>
  <%= link_to "Browse Trips", trips_path,class: "btn btn-lg btn-info"%><br><br>
  <%= link_to "Log in", new_user_session_path, class: "btn btn-lg btn-primary"%><br><br>
  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-success"%>
  <% end %>

</div>
